body {
  background-color: #123;
  padding: 20px;
}

.board {
  width: calc(100vh - 40px);
  max-width: calc(100vw - 40px);
  display: grid;
  gap: 10px;
  margin: auto;
  grid-template-columns: repeat(6, 1fr);
}

.card {
  background-color: #357;
  border-radius: 5px;
  height: calc((100vh - 90px) / 6);
  max-height: calc((100vw - 90px) / 6);
}